@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	background-image:url(../images/background.png);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	font-family:"Arial", Helvetica, sans-serif;
	font-size:13px;
	line-height:19px;
	min-width:1054px;
	color:#666;

}

html {
	height:100%;
	width:100%;
}

a {
	color:#458DD7;
	text-decoration:none;
}

p {
	margin:10px 0px;
}

@font-face {
    font-family: 'DINPro-Regular';
    src: url('../fonts/DINPro-Regular.eot');
    src: local('../fonts/DINPro-Regular'), 
         local('../fonts/DINPro-Regular'), 
         url('../fonts/dinproregular.ttf') format('truetype'),
         url('../fonts/dinproregular.svg#font') format('svg'); 
}

@font-face {
	font-family: 'DINPro-Bold';
    src: url('../fonts/DINPro-Bold.eot');
    src: local('../fonts/DINPro-Bold'), 
         local('../fonts/DINPro-Bold'), 
         url('../fonts/dinprobold.ttf') format('truetype'),
         url('../fonts/dinprobold.svg#font') format('svg'); 
}

@font-face {
	font-family: 'DINPro-Medium';
    src: url('../fonts/DINPro-Medium.eot');
    src: local('../fonts/DINPro-Medium'), 
         local('../fonts/DINPro-Medium'), 
         url('../fonts/dinpromedium.ttf') format('truetype'),
         url('../fonts/dinpromedium.svg#font') format('svg'); 
}

@font-face {
	font-family: 'Klavika-Medium';
    src: url('../fonts/Klavika-Medium.eot');
    src: local('../fonts/Klavika-Medium'), 
         local('../fonts/Klavika-Medium'), 
         url('../fonts/klavikamedium.ttf') format('truetype'),
         url('../fonts/klavikamedium.svg#font') format('svg'); 
}

@font-face {
	font-family: 'Klavika-Regular';
    src: url('../fonts/Klavika-Regular.eot');
    src: local('../fonts/Klavika-Regular'), 
         local('../fonts/Klavika-Regular'), 
         url('../fonts/klavikaregular.ttf') format('truetype'),
         url('../fonts/klavikaregular.svg#font') format('svg'); 
}

#head {
	margin:0 auto;
	width:994px;
	padding:0px 28px;
}

#logo {
	float:left;
	height:56px;
	width:334px;
	padding-top:19px;
}

.logo {
	border:none;
}

#menu-top {
	width:660px;
	height:20px;
	margin:2px 0px 1px 0px;
	float:left;
	text-align:right;
	font-family:"Arial", Helvetica, sans-serif;
	font-size:11px;
}

.menu-break {
	vertical-align: middle;
}

#menu-top a {
	color:#FFFFFF;
	text-decoration:none;
	margin:0px 12px;
}

#menu-top a:hover {
	color:#7F98C9;
	text-decoration:none;
}

#menu-bottom {
	width:660px;

	float:left;
	text-align:right;
	font-size:18px;
	color:#FFFFFF;
	text-shadow: 1px 1px 1px #111;
	font-family: 'DINPro-Regular', Helvetica, Arial, sans-serif;
	margin-top:1px;
}

#menu-bottom ul {
	margin:0px;
	padding:0px;
	float:right;
}

#menu-bottom li {
	margin:0px;
	padding:15px 17px 15px 17px;
	float:left;
	margin-left:8px;
	list-style:none;
}

.selected {
	background-image:url(../images/menu-arrow.png);
	background-position:center bottom;
	background-repeat:no-repeat;
	font-family: 'DINPro-Bold', Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	height:29px;
}

.search {
	padding:10px 5px;
	border-left:1px solid #595C65;
	border-right:1px solid #595C65;
	float:right;
	margin-right:1px;
	height:21px;
}

.search-icon {
	border:none;
	margin-top:3px;
}

#menu-bottom a {
	color:#DDD;
	text-decoration:none;
}

#menu-bottom a:hover {
	color:#FFF;
	text-decoration:none;
}

#sub-menu-holder {
	margin:0 auto;
	border-bottom:1px solid #D6D6CA;
	clear:left;
	border-bottom:1px solid #DDD;
	margin-bottom:20px;
}

#sub-menu-content {
	margin:0 auto;
	width:942px;
	padding:8px 80px 13px 28px;
	font-size:14px;
	font-weight:bold;
	color:#212121;
	text-align:right;
}

#sub-menu-search {
	margin:0 auto;
	width:994px;
	padding:0px 28px 11px 28px;
	text-align:right;
}

#sub-menu-search form {
	margin:0;
	padding:0;
}

.sub-menu-search-input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #D6D6D6;
	behavior:url(PIE.htc);
	color:#888;
	font-size:12px;
	width:225px;
	height:20px;
	padding:1px 8px;
	background:url(../images/sub-search-bg.gif) repeat-x #EEEEEE;
	vertical-align:top;
}

.sub-menu-search-button {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #CCC;
	behavior:url(PIE.htc);
	cursor:pointer;
	color:#53555D;
	font-family: 'DINPro-Bold', Helvetica, Arial, sans-serif;
	font-size:14px;
	width:52px;
	height:24px;
	background: #F2F2F2;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F2F2F2), to(#E6E6E6));
	background: -webkit-linear-gradient(#F2F2F2, #E6E6E6);
	background: -moz-linear-gradient(#F2F2F2, #E6E6E6);
	background: -ms-linear-gradient(#F2F2F2, #E6E6E6);
	background: -o-linear-gradient(#F2F2F2, #E6E6E6);
	background: linear-gradient(#F2F2F2, #E6E6E6);
	-pie-background: linear-gradient(#F2F2F2, #E6E6E6);
}

#sub-menu-content a {
	color:#777;
	text-decoration:none;
}

#sub-menu-content a:hover {
	color:#000;
	text-decoration:none;
}

#sub-menu-content span {
	border-right:1px solid #999;
	border-left:1px solid #999;
	margin:0px 0px 0px -5px;
	padding:0px 16px;
}

#scroll-holder {
	margin:0 auto;
	height:402px;
	border-bottom:1px solid #D6D6CA;
	background-image:url(../images/bg-scroll-holder.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	clear:left;
	background-color:#FFFFFF;
}

#scroll-banner {
	margin:0 auto;
	width:994px;
	padding:24px 0px 28px 0px;
	height:350px;
}

#scroll-text {
	width:510px;
	background-color:#FFF;
	font-family: 'Klavika-Medium', Helvetica, Arial, sans-serif;
	font-size:45px;
	color:#979B9F;
	line-height:46px;
	padding:20px 20px 15px 0px;
	float:left;
}

#scroll-text span {
	color:#458ED7;
}

#scroll-ipad {
	float:left;
	width:344px;
	height:283px;
	background:url(../images/ipad-bg.jpg) no-repeat;
	padding:32px 39px;
}

#scroll-ipad-image {
	float:left;
	width:344px;
	height:259px;
}

#scroll-navigation {
	float:left;
	width:994px;
	height:60px;
	position:relative;
	margin-top:-100px;
}

#scroll-navigation a {
	color:#3D83C7;
	text-decoration:none;
	font-weight:bold;
}

.green-arrow {
	margin:0px 0px -1px 8px;
}

.nav, .nav-active {
	background:url(../images/bullets.png) no-repeat;
	text-decoration:none;
	padding:0px 5px 0px 5px;
	font-size:10px;
	margin:4px 5px 0px 0px;
	background-position:top center;
	float:left;
	height:12px;
}

.nav-active {
	background-position:bottom center;
	margin:5px 5px 0px 0px;
}

#rollover-navigation {
	width:93px;
	height:22px;
	float:right;
	padding-top:7px;
	background:url(../images/bg-rollover-navigation.png) no-repeat;
	text-align:center;
	margin:5px 50px 0px 0px;
}

#rollover-navigation a {
	padding:2px;
}

#rollover-navigation img {
	border:none;
	margin:3px;
}

#stamp {
	margin:0 auto;
	width:994px;
	height:118px;
	background:url(../images/stamp-background.png) no-repeat right;
	margin-bottom:-94px;
	margin-top:-25px;
	z-index:200px;
	position: relative;
}

#content-holder {
	margin:0 auto;
	width:942px;
	padding:10px 25px 25px 25px;
	background:url(../images/bg-content-holder.png) repeat-x bottom;
	-moz-box-shadow:0 0 2px 2px #CCC;
	-webkit-box-shadow:0 0 2px 2px #CCC;
	box-shadow:0 0 2px 2px #CCC;
	margin-bottom:30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #FFF;
	background-color:#FFFFFF;
	behavior:url(PIE.htc);
	clear:both;
}

#content-holder a {
	text-decoration:none;
}

#content-holder a:hover {
	text-decoration: underline;
}

#content-holder h1 {
	font-size:19px;
	color:#8BB377;
	font-weight:normal;
	margin-bottom:20px;
}

#content-holder ul {
	color:#458DD7;
	font-weight:bold;
}

#content-holder li {
	margin-left:-10px;
	margin-bottom:5px;
}

.subtitle, .subtitle-2 {
	color:#458ED7;
	font-family: 'Klavika-Medium', Helvetica, Arial, sans-serif;
	font-size:25px;
	line-height:36px;
}
.subtitle-2 {
	font-size:30px;
	line-height:35px;
}

.content-left {
	width:450px;
	float:left;
	margin-right:50px;
	padding-bottom:20px;
}

.blue-arrow {
	vertical-align:middle;
	margin-left:10px;
	border:0px;
}

.team {
	width:852px;
	padding-right:90px;
	float:left;
	margin:10px 0px 5px 0px;
	font-size:12px;
}

#content-holder h2 {
	font-size:14px;
	color:#4A69A9;
	margin:0px 0px 6px 0px;
}

.arrow-faq {
	margin-right:4px;
}

.faq-answer {
	padding:0px 150px 7px 19px;
}

.team-thumb {
	float:left;
	margin-right:20px;
}

.services {
	width:942px;
	float:left;
	font-size:12px;
	border-top:1px solid #DDD;
	padding:10px 0px;
}

.services-icon-box {
	float:left;
	width:110px;
	padding-bottom:20px;
}

.services h2 {
	font-size:14px;
	color:#4A69A9;
	margin:0px 0px 6px 0px;
}

.content-right {
	width:440px;
	float:left;
	padding-bottom:20px;
}

#content-right form {
	margin:10px 0px 0px 20px;
	width:242px;
}

#contact-header {
	float:left;
	width:942px;
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;
	padding:10px 0px;
	margin:10px 0px 30px 0px;
}

.webinar-input {
	padding:5px;
	margin-bottom:7px;
	width:230px;
	font-size:11px;
	color:#666;
}

.webinar-button {
	border:1px solid #4081E3;
	cursor:pointer;
	color:#FFFFFF;
	margin:20px 0px 0px 0px;
	padding:3px 10px;
	font-size:12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior:url(PIE.htc);
	float:right;
	background:url(../images/webinar-button.jpg) repeat-x #4893F1;
}

.industries-box-left, .industries-box-right, .case-studies-box-left, .case-studies-box-right {
	float:left;
	width:440px;
	padding:1px;
	background-color:#FFF;
	margin:10px 25px 15px 0px;
	-moz-box-shadow:0 0 2px 2px #CCC;
	-webkit-box-shadow:0 0 2px 2px #CCC;
	box-shadow:0 0 2px 2px #CCC;
	behavior:url(PIE.htc);
}

.industries-box-text {
	width:410px;
	height:210px;
	background-color:#222;
	padding:10px 15px;
	color:#FFF;
	font-weight:bold;
	position:relative;
}

.case-studies-box-left, .case-studies-box-right {
	height:286px;
}

.case-studies-box-right, .industries-box-right {
	margin:10px 0px 15px 25px;
}

.case-studies-box-text {
	z-index:300;
	width:410px;
	background-color:#222;
	padding:10px 15px;
	color:#FFF;
	font-weight:bold;
	opacity:0.8;
	filter: alpha(opacity = 80);
	position:relative;
	margin-top:-59px;
	height:38px;
}

.case-studies-box-text a, .industries-box-text a {
	color:#6785C3;
}

.case-studies-box-text img, .industries-box-text img {
	margin:0px 0px -3px 7px;
}

.case-studies-box-text span, .industries-box-text span {
	color:#8BB377;
}

#case-studies-holder {
	margin:0 auto;
	width:1050px;
	height:162px;
	margin-top:-60px;
	margin-bottom:28px;
	z-index:100;
	position: relative;
}

#case-studies-title {
	width:990px;
	height:28px;
	padding:0px 30px;
	float:left;
	margin-top:-20px;
}

.case-studies-details-thumb {
	border:1px solid #CCC;
}

#gallery-navigation {
	width:450px;
	height:45px;
	position:relative;
	margin-top:10px;
}

#bottom-scroll {
	float:left;
	width:942px;
}

#bottom-scroll img {
	border:0px;
}

.arrow-green-left {
	margin:0px 2px -2px 0px;
	border:0px;
}

.slide-arrow {
	width:26px;
	height:138px;
	float:left;
}

.slide-arrow img {
	border:none;
	margin:60px 8px 0px 8px;
}

#case-studies-content {
	float:left;
	width:984px;
	height:128px;
	background:url(../images/bg-case-studies.png) no-repeat;
	padding:5px 7px;
}

.case-studies-box {
	float:left;
	width:313px;
	height:126px;
	padding-right:15px;
	font-family:"Georgia", Times New Roman, Times, serif;
	font-size:14px;
	color:#797979;
}

.case-studies-box span {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding-top:5px;
}

.case-studies-box h2 {
	font-family:"Arial", Helvetica, sans-serif;
	font-size:17px;
	color:#8BB377;
	margin:3px 0px 5px 0px;
}

.case-studies-box img {
	border:none;
}

.case-studies-arrow {
	margin-top:5px;
	float: right;
}

.case-studies-thumb {
	float:left;
	margin-right:15px;
}

#our-service-holder {
	height:183px;
	background-color:#0078B2;
	color:#FFFFFF;
	font-size:14px;
	right:0px;
	left:0px;
	width:100%
}

#our-service-holder img {
	border:0px;
}

#our-service-content {
	margin:0 auto;
	width:994px;
	padding:25px 28px;
}

#our-service-content a {
	text-decoration:none;
}

.our-service-details {
	width:964px;
	padding:15px;
	background-color:#00649A;
	z-index:300;
	position: absolute;
	height:153px;
	margin-top:-25px;
	color:#DDD;
}
.our-service-details-left, .our-service-details-middle, .our-service-details-right {
	float:left;
	padding:0px 15px;
}
.our-service-details-left {
	border-right:1px solid #004F80;
	width:80px;
	text-align:center;
	font-family: 'DINPro-Medium', Helvetica, Arial, sans-serif;
	font-size:16px;
	text-shadow:1px 1px 1px #222;
	height:118px;
	padding-top:35px;
}
.our-service-details-middle {
	border-left:1px solid #0078B3;
	border-right:1px solid #004F80;
	width:650px;
	height:143px;
	padding-top:10px;
}
.our-service-details-middle h3 {
	font-size:18px;
	color:#FFFFFF;
	font-weight:normal;
	margin:10px 0px;
}
.our-service-details-middle p {
	float:left;
	width:300px;
	padding-right:25px;
	margin-top:5px;
}
.our-service-details-right {
	border-left:1px solid #0078B3;
	width:145px;
	padding-right:0px;
	height:153px;
}
.our-service-details-right a {
	color:#1C5D89;
}
.learn-more {
	padding:8px 12px 8px 12px;
	border:1px solid #185077;
	font-size:11px;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: #113751 0px 1px 2px;
	-moz-box-shadow: #113751 0px 1px 2px;
	box-shadow: #113751 0px 1px 2px;
	background: #FFFFFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#E6E6E6));
	background: -webkit-linear-gradient(#FFFFFF, #E6E6E6);
	background: -moz-linear-gradient(#FFFFFF, #E6E6E6);
	background: -ms-linear-gradient(#FFFFFF, #E6E6E6);
	background: -o-linear-gradient(#FFFFFF, #E6E6E6);
	background: linear-gradient(#FFFFFF, #E6E6E6);
	-pie-background: linear-gradient(#FFFFFF, #E6E6E6);
	behavior: url(PIE.htc);
	position:relative;
}

#our-service-content-left {
	float:left;
	width:280px;
	height:113px;
	border-right:1px solid #3C9BD1;
	line-height:25px;
	padding:10px 40px 10px 0px;
}

#our-service-content-right {
	float:left;
	width:652px;
	height:133px;
	border-left:1px solid #00619E;
	padding-left:20px;
}

#our-service-content-right a {
	color:#FFFFFF;
}

#our-service-content-right span {
	float:left;
	text-align:center;
	margin:25px 17px 0px 17px;
	font-family: 'DINPro-Medium', Helvetica, Arial, sans-serif;
	font-size:16px;
	text-shadow:1px 1px 1px #222;
}

.icon-service {
	margin-bottom:5px;
}

.title-white, .title-blue, .title-green {
	font-family: 'DINPro-Bold', Helvetica, Arial, sans-serif;
	font-size:17px;
	font-weight:normal;
	color:#FFFFFF;
}

.title-blue {
	color:#6B94CD;
}

.title-green {
	color:#8BB377;
}

#our-clients-holder {
	margin:0 auto;
	height:275px;
	background-color:#46494E;
	background-image:url(../images/bg-our-clients.png);
	background-position:bottom;
	background-repeat:repeat-x;
	width:100%;
}

#our-clients-content {
	margin:0 auto;
	width:994px;
	padding:20px 28px;
	color:#908E8E;
	font-size:11px;
}

#our-clients-content p {
	text-align: center;
	padding:8px 0px 20px 0px;
}

.client-logo {
	margin:0px 18px;
	vertical-align:middle;
}

#footer-holder {
	margin:0 auto;
	background-color:#333;
	border-top:5px solid #0E1619;
}

.footer-content-holder {
	background-color:#333;
	border-top:1px solid #404040;
	border-bottom:1px solid #0E1619;
	padding:3px 0px;
	display: inline-table;
	width:100%;
}

#footer-newsletter-content {
	margin:0 auto;
	width:954px;
	padding:15px 48px;
	color:#C1C1C1;
	font-size:10px;
	height:45px;
}

#footer-newsletter-content span {
	float:left;
	margin:10px 20px 0px 0px;
}

#newsletter-forma-box {
	height:40px;
	background-color:#A6A5A5;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior:url(PIE.htc);
	position:relative;
	padding:0px 6px 0px 7px;
}

#newsletter-forma-box form {
	float:left;
	margin:0px;
	padding:0px;
}

.input-newsletter {
	border:0px;
	width:187px;
	height:12px;
	background-image:url(../images/bg-newsletter-form.png);
	background-repeat:no-repeat;
	color:#999999;
	font-size:14px;
	font-family:"Arial", Helvetica, sans-serif;
	padding:10px;
	margin:3px 15px 0px 0px;
	float:left;
}

.button-signup {
	margin:7px 0px 0px -8px;
	font-size:14px;
	font-family:"Arial", Helvetica, sans-serif;
	font-weight:bold;
	color:#FFF;
	cursor:pointer;
	background-image:url(../images/bg-newsletter-button.png);
	background-repeat:no-repeat;
	border:0px;
	width:88px;
	height:24px;
	float:left;
	text-align:center;
	padding-right:15px;
}

#footer-menu-content {
	margin:0 auto;
	width:954px;
	padding:20px 48px;
	color:#FFF;
	font-size:12px;
	text-transform:uppercase;
}

#footer-menu-content a {
	color:#FFF;
	text-decoration:none;
	font-size:10px;
}

#footer-menu-content a:hover {
	color:#FFF;
	text-decoration: underline;
}

.footer-menu-column {
	width:187px;
	float:left;
	padding-bottom:15px;
}

.footer-menu-column span {
	font-weight:bold;
	border-bottom:1px solid #FFF;
	padding-bottom:5px;
	margin-bottom:5px;
	width:130px;
	display:block;
}

.sn-icons {
	border:none;
	margin:4px 4px 2px 0px;
}

.footer-menu-column p {
	font-size:14px;
	font-weight:bold;
}

#footer-links-content {
	margin:0 auto;
	width:954px;
	padding:8px 48px 0px 48px;
	height:25px;
	color:#C1C1C1;
	font-size:10px;
}

#footer-links-content a {
	color:#C1C1C1;
	text-decoration:none;
}

#footer-links-content a:hover {
	color:#FFFFFF;
	text-decoration: underline;
}

#blog-header {
	width:100%;
	height:265px;
	background:url(../images/blog-background.jpg) no-repeat center;
	margin-top:-19px;
}

#blog-header-content {
	margin:0 auto;
	width:948px;
	padding-top:100px;
	padding-left:40px;
	color:#458ED7;
	font-family: 'Klavika-Medium', Helvetica, Arial, sans-serif;
	font-size:30px;
}

#blog-header-content img {
	border:0px;
}

#blog-content-holder {
	margin:0 auto;
	width:964px;
	padding:0px 5px 25px 25px;
	-moz-box-shadow: 0 2px 2px #999;
	-webkit-box-shadow: 0 2px 2px #999;
	box-shadow: 0 2px 2px #999;
	margin-bottom:50px;
	margin-top:-50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:url(../images/bg-content-holder.png) repeat-x bottom #FFFFFF;
	behavior:url(PIE.htc);
	clear:both;
	z-index:600;
	position:relative;
	font-size:12px;
}

.subtitle-3 {
	font-size:19px;
	color:#8BB377;
	font-weight:normal;
	margin-bottom:20px;
}

#blog-search-box {
	float:right;
	margin-right:10px;
	background-color:#E9E9E9;
	border-top:1px solid #BFBFBF;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	padding:2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior:url(PIE.htc);
}

.blog-searchButton {
	width:25px;
	height:23px;
	background:url(../images/blog-search.gif) no-repeat;
	cursor:pointer;
	border:0px;
}

.blog-searchInput {
	height:17px;
	width:242px;
	font-size:11px;
	color:#878787;
	float:left;
	margin-right:5px;
	border:0px;
	padding:3px;
	background-color:transparent;
}

#blog-content-left {
	float:left;
	width:650px;
	margin:0px 10px 10px 0px;
	line-height:21px;
}

#favorite-posts {
	float:left;
	width:650px;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #DDD;
}

.thumb-favorite-posts {
	padding:3px;
	border:0px;
	background-color:#FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 1px 1px 2px 2px #999;
	-webkit-box-shadow: 1px 1px 2px 2px #999;
	box-shadow: 1px 1px 2px 2px #999;
	behavior:url(PIE.htc);
}

#blog-left-column {
	float:left;
	width:118px;
}

#blog-left-column a {
	text-decoration:none;
	color:#666;
}

#blog-left-column a:hover {
	text-decoration: underline;
	color:#666;
}

#blog-right-column {
	float:left;
	width:532px;
	margin-top:20px;
}

#blog-right-column h1 {
	font-size:24px;
	color:#4767A9;
}

#blog-right-column h2 {
	font-size:18px;
	color:#4767A9;
	font-weight:normal;
	margin:0px 0px 5px 0px;
}

#blog-right-column a {
	text-decoration:none;
	color:#4767A9;
}

#blog-right-column a:hover {
	text-decoration: underline;
	color:#4767A9;
}

.blog-right-column-article {
	border-top:1px solid #DDD;
	padding:20px 0px 5px 0px;
	margin-top:20px;
}

.thumb-large {
	padding:4px;
	margin-bottom:10px;
	border:0px;
	background-color:#FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 1px 1px 2px 2px #999;
	-webkit-box-shadow: 1px 1px 2px 2px #999;
	box-shadow: 1px 1px 2px 2px #999;
	behavior:url(PIE.htc);
}

.thumb-small {
	float:left;
	padding:3px;
	margin:0px 20px 20px 0px;
	border:0px;
	background-color:#FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 1px 1px 2px 2px #999;
	-webkit-box-shadow: 1px 1px 2px 2px #999;
	box-shadow: 1px 1px 2px 2px #999;
	behavior:url(PIE.htc);
}

#blog-content-right {
	float:left;
	width:300px;
	margin:20px 0px;
}

.blog-blue-category {
	font-weight: bold;
	color:#4767A9;
}

#blog-content-right-subscribe, #blog-content-right-video, #blog-content-right-posts-box {
	float:left;
	border:1px solid #D6D6D6;
	font-size:11px;
	font-weight:bold;
	-moz-box-shadow: 0 1px 2px #DDD;
	-webkit-box-shadow: 0 1px 2px #DDD;
	box-shadow: 0 1px 2px #DDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior:url(PIE.htc);
}

#blog-content-right-subscribe, #blog-content-right-video {
	background: #FFFFFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#F0F0F0));
	background: -webkit-linear-gradient(#FFFFFF, #F0F0F0);
	background: -moz-linear-gradient(#FFFFFF, #F0F0F0);
	background: -ms-linear-gradient(#FFFFFF, #F0F0F0);
	background: -o-linear-gradient(#FFFFFF, #F0F0F0);
	background: linear-gradient(#FFFFFF, #F0F0F0);
	-pie-background: linear-gradient(#FFFFFF, #F0F0F0);
	behavior:url(PIE.htc);
}

#blog-content-right-subscribe {
	width:268px;
	margin:10px 0px 15px 0px;
	padding:15px;
}

#blog-content-right-video {
	width:270px;
	margin:10px 0px 15px 0px;
	padding:14px;
}

#blog-content-right-tagcloud {
	width:270px;
	margin:10px 0px;
	padding:14px;
	float:left;
	border:1px solid #CCC;
	line-height:23px;
}

#blog-content-right-tagcloud a {
	margin-right:5px;
}

#blog-content-right-posts-box {
	width:298px;
	margin:40px 0px 10px 0px;
	padding:0px;
	background-color:#FCFCFC;
}

.posts-box-1, .posts-box-2 {
	padding:12px 10px;
	float:left;
	width:278px;
	font-size:12px;
}

.posts-box-2 {
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;
	background:#F0F0F0;
}

.posts-box-1 img, .posts-box-2 img {
	float:left;
	margin-right:10px;
}

.posts-box-1 a, .posts-box-2 a {
	color:#333;
	text-decoration:none;
}

.posts-box-1 p, .posts-box-2 p {
	margin:5px 0px 0px 0px;
}

#blog-newsletter {
	width:258px;
	height:31px;
	background:url(../images/blog-newsletter-bg.png) no-repeat;
	padding:8px 3px 0px 7px;
	margin-top:12px;
}

.inputNewsletter {
	color:#888;
	width:162px;
	border:0px;
	padding-left:3px;
}

.buttonNewsletter {
	width:86px;
	height:24px;
	cursor:pointer;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	border:0px;
	background:none;
	text-shadow:1px 1px 1px #000;
}

#blog-content-right-posts-box ul {
	width:298px;
	float:left;
	margin:-4px 0px 0px 0px;
	padding:0px;
}

#blog-content-right-posts-box li {
	display:block;
	float:left;
	padding:11px 8px 9px 8px;
	color:#FFF;
	margin:0px 2px 0px 5px;
}

#blog-content-right-posts-box img {
	border:0px;
}

.posts-selected {
	background-color:#8198C2;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	behavior:url(PIE.htc);
}

#sub-list {
	float:left;
	width:298px;
	text-align:center;
	background-color:#8198C2;
	padding:5px 0px;
	color:#FFFFFF;
}

#sub-list a {
	color:#54647D;
	text-decoration:none;
}

#sub-list span {
	margin:0px 15px;
}

#blog-story-join {
	background-color:#E6EAF2;
	border:1px solid #858EA2;
	padding:10px 5px;
	margin:30px 0px;
}

#blog-story-join img {
	border:0px;
	vertical-align:middle;
}

.blog-comment {
	border:1px solid #BBB;
	height:80px;
	width:520px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	behavior:url(PIE.htc);
	padding:5px;
}

#blog-conversation {
	background-color:#E6ECEF;
	border:1px solid #D5DCDF;
	padding:10px 5px;
	margin:3px 0px 10px 0px;
}

.blog-comment-box {
	margin:5px 0px;
	border-bottom:1px solid #DDD;
	padding:5px 0px;
	float:left;
	width:530px;
}

.blog-comment-box p {
	float:left;
}

.link-button {
	padding:5px 9px;
	border:1px solid #CCC;
	font-size:11px;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #FFFFFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#E6E6E6));
	background: -webkit-linear-gradient(#FFFFFF, #E6E6E6);
	background: -moz-linear-gradient(#FFFFFF, #E6E6E6);
	background: -ms-linear-gradient(#FFFFFF, #E6E6E6);
	background: -o-linear-gradient(#FFFFFF, #E6E6E6);
	background: linear-gradient(#FFFFFF, #E6E6E6);
	-pie-background: linear-gradient(#FFFFFF, #E6E6E6);
	behavior: url(PIE.htc);
}

.thumb-careers {
	background-color: #FFF;
	padding:4px;
	border:1px solid #CCC;
	margin-bottom:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(PIE.htc);
}

#careers-box-right {
	width:210px;
	border:1px solid #CCC;
	padding:20px;
	margin-left:20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	behavior: url(PIE.htc);
}

#careers-map-box {
	float:left;
	-moz-box-shadow: 0 2px 2px 2px #DDD;
	-webkit-box-shadow: 0 2px 2px 2px #DDD;
	box-shadow: 0 2px 2px 2px #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior:url(PIE.htc);
	margin:40px 0px;
	width:622px;
	border:1px solid #CCC;
	background-color:#FFFFFF;
}

#careers-map-box img {
	border:0px;
}

#careers-map-box p {
	text-align:center;
	padding:50px 0px;
	font-size:18px;
	color:#458DD7;
	line-height:30px;
}

#search-resaults-holder {
	margin:0 auto;
	width:900px;
	margin-bottom:50px;
	padding-bottom:30px;
}

.search-resaults-box {
	margin:0 auto;
	width:630px;
	padding:15px 25px 0px 25px;
	border:1px solid #FFF;
	-moz-box-shadow:0 0 1px 2px #DDD;
	-webkit-box-shadow:0 0 1px 2px #DDD;
	box-shadow:0 0 1px 2px #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #FFF;
	background: #F8F8F8;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F8F8F8), to(#E6E6E6));
	background: -webkit-linear-gradient(#F8F8F8, #E6E6E6);
	background: -moz-linear-gradient(#F8F8F8, #E6E6E6);
	background: -ms-linear-gradient(#F8F8F8, #E6E6E6);
	background: -o-linear-gradient(#F8F8F8, #E6E6E6);
	background: linear-gradient(#F8F8F8, #E6E6E6);
	-pie-background: linear-gradient(#F8F8F8, #E6E6E6);
	behavior:url(PIE.htc);
}

.search-resaults-box span {
	font-size:16px;
	line-height:24px;
}

.search-resaults-box a {
	text-decoration:none;
	font-weight:bold;
}

.search-resaults-box a:hover {
	text-decoration: underline;
}

.search-title {
	color:#458ED7;
	font-family: 'Klavika-Medium', Helvetica, Arial, sans-serif;
	font-size:19px;
}

.arrow-holder {
	margin:0 auto;
	width:630px;
	height:20px;
	background:url(../images/results-arrow.png) no-repeat;
	margin-top:-2px;
	position:relative;
	z-index:600;
	margin-bottom:-6px;
}

.arrow-holder-inner {
	margin:0 auto;
	width:630px;
	height:21px;
	background:url(../images/results-arrow-inner.png) no-repeat;
	margin-bottom:-17px;
	position:relative;
	z-index:500;
}

.content-tumb {
	padding:4px;
	border:1px solid #CCC;
	background-color:#FFF;
	float:right;
	margin:0px 0px 20px 20px;
}

#content-wrapper {
	margin:0 auto;
	width:870px;
	padding:15px 35px 15px 15px;
}

.contactInput, .contactMessage {
	width:318px;
	height:26px;
	background-color:#E9E9E9;
	border-top:1px solid #BFBFBF;
	border-left:1px solid #BFBFBF;
	border-right:1px solid #E4E4E4;
	border-bottom:1px solid #E4E4E4;
	margin:4px 0px 6px 0px;
	padding:2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior:url(PIE.htc);
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	font-size:12px;
}

.contactInput {
	width:318px;
	height:24px;
}

.contactMessage {
	width:578px;
	height:120px;
}

.contactSubmit {
	width:153px;
	height:56px;
	background:url(../images/contact-submit.png) no-repeat;
	border:0px;
	cursor:pointer;
	float:right;
	margin-bottom:30px;
}

.case-studies-default-box {
	width:200px;
	height:160px;
	margin:0px 30px 30px 0px;
	float:left;
	padding:60px 20px 20px 20px;
	line-height:27px;
	color:#000000;
	font-size:11px;
}

.case-studies-default-box h2 {
	color:#FFF;
	font-weight:normal;
	font-size:24px;
}

.case-studies-default-box img {
	float:right;
	border:0px;
	margin-top:6px;
	padding:4px;
}

.industries-box {
	float:left;
	width:420px;
	padding:5px;
	background-color:#FFFFFF;
	border:1px solid #BBB;
	margin:3px 6px 4px 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	behavior:url(PIE.htc);
}

.industries-box h2 {
	font-size:18px;
	margin:10px 0px;
	font-weight:normal;
	color:#458DD7;
}

.industries-box img {
	border:0px;
}

.industries-box p {
	float:left;
	margin:0px;
	padding-bottom:10px;
	background: #FFFFFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#EEEEEE));
	background: -webkit-linear-gradient(#FFFFFF, #EEEEEE);
	background: -moz-linear-gradient(#FFFFFF, #EEEEEE);
	background: -ms-linear-gradient(#FFFFFF, #EEEEEE);
	background: -o-linear-gradient(#FFFFFF, #EEEEEE);
	background: linear-gradient(#FFFFFF, #EEEEEE);
	-pie-background: linear-gradient(#FFFFFF, #EEEEEE);
	behavior:url(PIE.htc);
}

.industries-box span {
	float:right;
}

.team-header {
	border:1px solid #C5CCE2;
	background-color:#E7EBF3;
	padding:5px 20px;
	margin-bottom:15px;
	float:left;
	width:840px;
}

.team-header img {
	border:0px;
}

.team-content {
	margin-bottom:20px;
	float:left;
	width:880px;
}

#services-box {
	width:826px;
	height:122px;
	background:url(../images/services-bg.png) no-repeat;
	margin-bottom:20px;
	margin-left:-6px;
	font-family: 'DINPro-Medium', Helvetica, Arial, sans-serif;
	font-size:13px;
	color:#000000;
}

#services-box img {
	border:0px;
	margin-bottom:5px;
}

#services-box ul {
	margin:0px;
	padding:0px;
}

#services-box li {
	float:left;
	display:block;
	text-align:center;
	margin:25px 33px 10px 33px;
}

#services-box a {
	color:#777;
}

#services-box a:hover {
	color:#000;
}

.selected-services {
	background:url(../images/services-bg-selected.jpg) no-repeat bottom;
	padding-bottom:29px;
}

.career-slide {
	width:309px;
	float:left;
	background:url(../images/career-slide-bg.jpg) no-repeat;
	padding-top:53px;
	padding-left:15px;
}

.career-slide-gallery {
	width:298px;
	height:198px;
	float:left;
	margin-bottom:25px;
}

.buttonRollover {
	background:url(../images/industries-arrow.png) no-repeat right;
	padding:4px 33px 4px 4px;
}

.buttonRollover:hover {
	background:url(../images/industries-arrow-rollover.png) no-repeat right;
	padding:4px 33px 4px 4px;
}